/*Css for main page and other similar pages*/

body {
    font-family: "Helvetica Neue", "Segoe", sans-serif;
    text-align: center;
    background-color: skyblue;
}

.bubble {
    background-color: white;
    color: black;
    border-radius: 20px;
    margin: 10px 12.5%;
    padding: 20px;
}

.welcome {
    color: white;
}